sudo: false
cache: bundler
language: ruby
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - gem install bundler
rvm:
- 2.3.1
env:
 - RAILS_ENV=test RACK_ENV=test APP_ENV=test
notifications:
  email: false
