<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <script src="/assets/rgbcolor.js"></script>
  <script src="/assets/canvg.js"></script>
  <script src="/assets/modernizr.js"></script>
  <script type="text/javascript">
  if (!Modernizr.svg) {
    if (Modernizr.canvas) {
      var canvas = document.createElement("canvas");
      canvas.setAttribute("style", "height:500px;width:300px;");
      canvg(canvas, <%= svg_image %>);
      document.body.appendChild(canvas);
    } else {
      // Do something else, perhaps a fallback to PNG?
    }
  } else {
    var svgObj = document.createElement('object');
    svgObj.setAttribute('type', 'image/svg+xml');
    svgObj.setAttribute('data', 'data:image/svg+xml,' + <%= svg_image %>);
    svgObj.setAttribute('height', '500');
    svgObj.setAttribute('width', '300');
    document.body.appendChild(svgObj);
  }
  </script>
</head>
<body>
</body>
</html>
