<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Ruby Downloads Shield</title>
    <meta charset="utf-8" />
    <script src="<%= request.base_url  %>/github.js"></script>
    <link rel="shortcut icon"  type="image/x-icon" href="<%= request.base_url  %>/favicon.js" />
  </head>
  <body>
      <%= defined?(image_svg) ? image_svg : '' %>
  </body>
</html>